body {
    background-color: #FFF8BC;
    font-family: Cinzel;
    text-align: center;
    
    }
    form {
        max-width: 500px;
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgba(#FFFF);
}
form-control {
 text-align: left;
  margin-bottom: 25 px;
}
form-comtrol label{
display: block;
margin-bottom: 25 px;

}
.form-control input,
    .form-control select,
    .form-control textarea {
        border: 1px solid #777;
        border-radius: 2px;
        font-family: Cinzel;
        padding: 10px;
        display: block;
        width: 95%;
    }
     .form-control input[type="radio"],
    .form-control input[type="checkbox"] {
        display: inline-block;
        width: auto;
    }
     button {
        background-color: ;
        border: 1px solid #777;
        border-radius: 2px;
        font-family: Cinzel;
        font-size: 21px;
        display: block;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
    }
